<div class="card-panel teal">
          <span class="white-text"><h2><%= @contact[:name] %></h2>
          <p><%= @contact[:phone] %></p>
          <p><%= @contact[:email] %></p>
          </span>
        </div>
<br>
<a class="waves-effect waves-light btn" href="/contacts">Index</a>
<br>
<a class="waves-effect waves-light btn" href="/contacts/<%= @i %>/edit">Edit</a>
<br>
<a class="waves-effect waves-light btn" href="/contacts/<%= @i %>/delete">Delete</a>
